parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - vendor
        - cache (?)
        - logs (?)
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
